USE [master]
GO
/****** Object:  Database [ComputedSample2]    Script Date: 12/31/2022 2:59:07 PM ******/
CREATE DATABASE [ComputedSample2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComputedSample2', FILENAME = N'C:\Users\paynek\ComputedSample2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComputedSample2_log', FILENAME = N'C:\Users\paynek\ComputedSample2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComputedSample2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComputedSample2]
GO
/****** Object:  Table [dbo].[ApplicationSettings]    Script Date: 12/31/2022 2:59:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [nvarchar](max) NOT NULL,
	[VersionMajor] [int] NOT NULL,
	[VersionMinor] [int] NOT NULL,
	[VersionBuild] [int] NOT NULL,
	[VersionRevison] [int] NOT NULL,
	[Identifier] [int] NULL,
	[TheVersion]  AS ((((((replace(str([VersionMajor]),' ','')+'.')+replace(str([VersionMinor]),' ',''))+'.')+replace(str([VersionBuild]),' ',''))+'.')+replace(str([VersionRevison]),' ','')),
 CONSTRAINT [PK_WebPageSettings1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationSettings] ON 

INSERT [dbo].[ApplicationSettings] ([Id], [AppName], [VersionMajor], [VersionMinor], [VersionBuild], [VersionRevison], [Identifier]) VALUES (1, N'App1', 1, 9, 1, 1, 1)
INSERT [dbo].[ApplicationSettings] ([Id], [AppName], [VersionMajor], [VersionMinor], [VersionBuild], [VersionRevison], [Identifier]) VALUES (2, N'App2', 2, 0, 0, 2, 2)
SET IDENTITY_INSERT [dbo].[ApplicationSettings] OFF
GO
USE [master]
GO
